<h3 class="text-xl">Add Questions</h3>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div style="width: 400px;">
            <p>Category:</p>
            <select [(ngModel)]="selectedCategory" name="category" required
                (change)="onCategoryChange(selectedCategory)" class="bg-yellow-500 w-full h-10">
                <option *ngFor="let category of categories | async" [ngValue]="category">{{"("+category.id +") "
                    +category.name }}</option>
            </select>
            <form [formGroup]="questionsaveform" (ngSubmit)="saveQuestion()">
                <div class="form-group">
                    <input type="text" placeholder="Question"
                        class="peer h-10 w-full border-b border-yellow-500 border-t-transparent bg-transparent outline-none"
                        formControlName="question_value" data-toggle="tooltip" data-placement="right"
                        title="Enter Question">
                    <div class="text-red-400"
                        *ngIf="(QuestionValue && QuestionValue.touched) && (QuestionValue.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="(QuestionValue.errors && QuestionValue.errors['required'])">Question is
                            Required</span>
                        <span *ngIf="(QuestionValue.errors && QuestionValue.errors['minlength'])">
                            Question too short!
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text"
                        class="peer h-10 w-full border-b border-yellow-500 border-t-transparent bg-transparent outline-none"
                        formControlName="right_answer" data-toggle="tooltip" data-placement="right"
                        placeholder="Right Answer" title="Enter Player Email">
                    <div class="text-red-400"
                        *ngIf="(QuestionRightAnswer && QuestionRightAnswer.touched) && (QuestionRightAnswer.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="(QuestionRightAnswer.errors && QuestionRightAnswer.errors['required'])">Right
                            Answer is
                            Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text"
                        class="peer h-10 w-full border-b border-yellow-500 border-t-transparent bg-transparent outline-none"
                        formControlName="wrong_answer" data-toggle="tooltip" data-placement="right"
                        placeholder="Wrong Answer" title="Enter Wrong Answer">
                    <div class="text-red-400"
                        *ngIf="(QuestionWrongAnswer && QuestionWrongAnswer.touched) && (QuestionWrongAnswer.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="(QuestionWrongAnswer.errors && QuestionWrongAnswer.errors['required'])">Wrong
                            Answer is required</span>
                    </div>
                </div>
                <button type="submit"
                    class="bg-yellow-500 mt-6 mb-6 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Add
                    Question</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="w-full flex justify-center items-center">
    <div class="w-full rounded flex flex-col gap-2 text-center items-center">
        <div *ngFor="let question of questions| async" class="w-full flex justify-center">
            <app-question-entry [question]="question" [categories]="categories">
            </app-question-entry>
        </div>
    </div>
</div>