<div class="p-2 w-96 flex flex-row gap-2 border-2 border-yellow-400 rounded items-center">
    <div *ngIf="!editMode; else wordEdit" class="flex flex-row gap-2 items-center">
        <span class="text-center">{{"(" + category.id +") " + category.name}} </span>
        <button class="bg-yellow-500 h-full rounded p-2" (click)="switchMode()">Edit</button>
    </div>

    <ng-template #wordEdit>
        <form [formGroup]="categorysaveform" #savestudent (ngSubmit)="saveCategory()">
            <div class="form-group">
                <label for="name" class="font-bold text-lg">Edit Word:</label>
                <input type="text" placeholder="New word"
                    class="peer h-10 w-full border-b border-yellow-500 border-t-transparent bg-transparent outline-none"
                    formControlName="category_name" data-toggle="tooltip" data-placement="right" title="Enter Word">
                <div class="text-red-400" *ngIf="(CategoryName && CategoryName.touched) && (CategoryName.invalid)"
                    style="margin-top: 5px;">
                    <span *ngIf="(CategoryName.errors && CategoryName.errors['required'])">Word is
                        Required</span>
                    <span *ngIf="(CategoryName.errors && CategoryName.errors['minlength'])">
                        Word too short!
                    </span>
                </div>
            </div>
            <button type="submit"
                class="bg-yellow-500 mt-6 mb-6 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Save</button>
        </form>
    </ng-template>

</div>